<div *ngIf="item" class="video-card">
  <button (click)="back()" appDateStatusColor [selectorName]="backgroundColor" [timeDiffMs]="ageInMs">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <div class="video-card--conteiner">
    <img src={{item.image}} alt="video thumbnails">
    <div class="video-card--content" appDateStatusColor [selectorName]="borderColor" [timeDiffMs]="ageInMs">
      <div class="video-card--title">
        <h3>{{item.title}}</h3>
        <span>{{item.publishedAt | date: 'fullDate'}}</span>
      </div>
      <h4 class="video-card--title-description">Description:</h4>
      <p class="video-card--description">{{item.description}}</p>
      <div class="video-card--icon-container">
        <div class="video-card--info">
          <span *ngFor="let action of actions"><mat-icon>{{action.name}}</mat-icon>{{action.count}}</span>
        </div>
        <mat-icon class="delete-icon-button" *ngIf="item.isCustomCard" (click)="deleteCustomCard(item.id)">delete</mat-icon>
        <mat-icon class="favorite-icon-button" *ngIf="!item.isCustomCard" (click)="addToFavorites()">star</mat-icon>
      </div>
    </div>
  </div>
</div>